.wholeBody {
  background-image: url("images/blue-sky.webp");
  height: 100%;
  background-size: cover;

  display: block;
  margin: 20px auto;
  padding: 200px auto;

  border-radius: 10px;
  max-width: 500px;
  border: 1px solid #4d99e9;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(58, 53, 62);
}
h1,
h2,
h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  line-height: 2rem;
  margin: 0;
}
#button {
  background: rgb(208, 212, 244);
}
#mainIcon {
  color: rgb(208, 212, 244);
  font-size: 40px;
}
#button{
  background: rgb(208, 212, 244);
  border-radius: 4px;
  border: 2px solid transparent;
}
.fa-cloud {
  color: rgb(208, 212, 244);
  font-size: 20px;
}
.fa-moon {
  font-size: 20px;
}
ul {
  padding: 0;
  margin: 0;
}
form{margin-top: 15px;

}
.units{
  font-size:18px;
  font-weight: 500px;
  position:relative;
  top: -17px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.degrees{
  font-size: 40px;
  font-weight: 500;
  

}
#search-button{
  text-transform: capitalize;
}

.open{
  
  position: fixed;
  margin-top: 0;
  margin-left: 510px;
  
}